rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Acceso abierto para simplificar (solo uso interno)
    match /{document=**} {
      allow read, write: if true;
    }
  }
}
